body {
  font-family: "Open Sans", sans-serif;
  color: black;
}

.container {
  max-width: 970px;
  margin: auto;
}

hr {
  margin: 0;
  color: #828282;
  height: 1px;
}

a {
  text-decoration: none;
}

#about-me,
#portfolio {
  background-color: rgb(246, 246, 246);
  margin-left: -50vw;
  margin-right: -50vw;
}

h2 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
}

.header {
  font-size: 18px;
  padding: 27.5px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    gap: 40px;

    a {
      letter-spacing: 2px;
      color: #828282;
    }

    a:hover {
      color: black;
      font-weight: 700;
    }
  }
}

#home {

  h1 {
    font-size: 48px;
    font-weight: bold;
    padding-top: 12px;
  }

  img {
    margin-top: 50px;
    width: 970px;
  }
}

.content {
  padding-top: 100px;
  padding-bottom: 100px;
}

#about-me {

  h2 {
    padding-bottom: 20px;
  }

  p {
    padding-top: 30px;
    max-width: 480px;
    margin: 0 auto;
  }
}

#skills {

  h2 {
    padding-bottom: 20px;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 97px;
    margin-top: 50px;

    li {
      font-size: 14px;
      font-weight: bold;
      color: #828282;
      text-align: center;
      width: 170px;

      img {
        display: block;
        margin: 0 auto 25px auto;
        width: 80px;
        height: 80px;
      }
    }
  }

  .raiting {
    display: flex;
    gap: 10px;
    margin-top: 60px;

    img {
      width: 26px;
      height: 26px;
    }
  }
}

#portfolio {

  img {
    display: block;
    margin: 50px auto 40px auto;
    width: 970px;
  }

  a {
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: black;
  }

  li:nth-child(-n+2) {
    padding-bottom: 20px;
  }
}

.footer {

  h2 {
    padding-bottom: 20px;
  }

  button {
    display: block;
    margin: 60px auto 30px auto;
    border-radius: 22px;
    width: 180px;
    height: 44px;
    background-color: black;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.1em;
  }

  button:hover {
    background-color: red;
  }
}

.img-socials {
  display: flex;
  gap: 50px;
  justify-content: center;

  img {
    width: 40px;
    height: 40px;
  }

  a:hover {
    opacity: 0.5;
  }
}

.socials {
  padding-top: 60px;
  color: #828282;
  font-size: 14px;
  font-weight: 400;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}